.container__avatar {
    display: inline-block;
    height: 100px;
    width: 100px;

    .remove-profile {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        height: 100px;
        width: 100px;
        font-size: 4em;
        color: #ffff;
        background-color: #00000085;

    }

    &-img {
        height: 100%;
        width: 100%;
        border-radius: 6px;
    }

}