.container__modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.445);
    height: 100%;
    width: 100%;


    &-newUser {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20em;
        height: 35em;
        background-color: #000000cc;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    button {
        border: none;
        margin-bottom: 0.4em;
    }

    &-arrow {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 3rem;
        padding: 0.3em;
        background-color: black;
        color: #fff;

    }

    &-newImg {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: #ffff;
    }

    &-avatar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-img {
        width: 100px;
        height: 100px;
        margin: 0.2em;
        border: none;
    }

}

.checkbox {
    margin-right: 1.4em;
}