.nav__container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.384);
  z-index: 1;
  &-avatar {
    width: 45px;
    margin: 0.5em;
  }
  &-netflix {
    display: flex;
    align-items: center;
    margin: 0.5em;
  }
}
