
.nav__container {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.384);
  z-index: 1;
  &-avatar {
    width: 45px;
  }
  &-netflix {
    width: 115px;
    height: 44px;
    z-index: 15;
  }
}
