.button-modal {
  cursor: pointer;
  background-color: black;
  border: none;
}
.button-modal:hover,
.button-modal:active {
transition: 0.3s;
scale: 0.85;
}
.select__container-new {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border: 1px solid gray;
  border-radius: 6px;
  color: #ffffff;
}
