.container {
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.281);

  z-index: 10;

  &__netflix {
    width: 115px;
    height: 44px;
    z-index: 15;
  }

  &__text {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    z-index: 10;
    color: #fff;
    text-decoration: none;
  }
  &__text:hover {
    color: gray;
    transition: all 0.3s;
  }
}
