.row__container {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 1.4em;
  &-title {
    margin: 0.5em 1em;
  }
  &-list {
    display: flex;
  }

}
.row__container-list-img{
  display: flex;
  flex-direction: column;
 
}
.row__container::-webkit-scrollbar {
  display: none;
}
.row__container-img {
  object-fit: contain;
  margin-right: 10px;
  border-radius: 8px;
  background-color: gray;
  transition: transform 0.4s;
}

