.container__img {
  background-position: center;
  background-size: cover;
  object-fit: contain;
  color: #ffff;
  height: 448px;
 
  &-content {
    margin-left: 3em;
    padding-top: 10em;
    height: 19em;
  }
  &-title {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 0.3rem;
  }
  &-descriptions {
    width: 45rem;
    padding-top: 1em;
    font-size: 0.8rem;
    width: 360px;
    top: 450px;
  }
}
