.container__img {
  object-fit: contain;
  color: #ffff;
  height: 448px;

  &-content {
    position: absolute;
    top: 5em;
    margin-left: 2em;
    padding-top: 5em;
    height: 10em;
    z-index: 1;
  }
  &-title {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 0.3rem;
  }
  &-descriptions {
    width: 45rem;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
    line-height: 1.3;
  }
}
.hero-img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.buttons-hero {
  cursor: pointer;
  outline: none;
  font-weight: 800px;
  color: #fff;
  border-radius: 3px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: rgba(39, 39, 39, 0.685);
  border: none;
}
