.row__container {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 1.4em;
  &-title {
    margin: 0em 1em;
  }
}
.row__container::-webkit-scrollbar {
  display: none;
}
.row__container-img {
  object-fit: contain;
  max-width: 100%;
  max-height: 10em;
  margin-right: 10px;
  transition: transform 0.4s;
}
.row__container-img:hover {
  transform: scale(1.08);
}
