.login__container-button--style {
  cursor: pointer;
  margin-top: 1em;
  width: 100%;
  padding: 1.2em;
  background-color: black;
  color: #fff;
  border: 1px solid gray;
  border-radius: 8px;

  .login__container-button--style:hover {
    color: black;
    background-color: #fff;
    transition: all 0.3s;
  }
}
