.input__containter {
  margin: 1em 0;
}
.login__container-input--style {
  padding: 1.2em 0;
  border: none;
  border-radius: 8px;
}
.input--color {
  background-color: rgba(128, 128, 128, 0.315);
  color: #ffff;
}
::-webkit-input-placeholder {
  margin-right: 0.4em;
}
