a {
  text-decoration: none;
}



.login {
  background-color: black;
  height: 100vh;
  overflow: hidden;

  .login-nav {
    margin: 1em;
    display: flex;
    align-items: center;
  }

  .back-arrow {
    background-color: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 3rem;
  }
}

.login__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 100%;
  color: #fff;

  &-netflix {
    color: red;
    text-transform: uppercase;
    margin-left: 0.3em;
    font-size: 2rem;
  }

  &-input {
    display: flex;
    flex-direction: column;
    padding: 1em;

    &--style {
      background-color: rgba(128, 128, 128, 0.37);
      padding: 1.5em;
      margin-bottom: 1em;
      border-radius: 8px;
      border: none;
    }
  }

  &-button {
    &--style {
      margin-top: 1em;
      width: 100%;
      padding: 1em;
      background-color: black;
      color: #fff;
      border: 1px solid gray;
      border-radius: 8px;
    }
  }

  &-help {
    color: gray;
  }

  &-signUp {
    color: rgb(172, 172, 172);
  }

  &-description {
    color: gray;
    font-size: 0.7rem;
    background-color: none;
    background: none;
    border: none;
    color: #fff;
  }
}
