a {
  text-decoration: none;
}
.login {
  background-color: black;
  height: 100vh;
  overflow: hidden;

  .login-nav {
    margin: 1em 1em;
  }

  .back-arrow {
    background-color: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 3rem;
  }
}

.login__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 100%;
  color: #fff;

  &-netflix {
    width: 300px;
    height: 110px;
    color: tomato;
    z-index: 15;
  }

  &-input {
    display: flex;
    flex-direction: column;
    padding: 0 1em;

    &--style {
      background-color: rgba(128, 128, 128, 0.37);
      padding: 1.5em;
      margin-bottom: 1em;
      border-radius: 8px;
      border: none;
    }
  }

  &-button {
    &--style {
      cursor: pointer;
      margin-top: 1em;
      width: 100%;
      padding: 1.2em;
      background-color: black;
      color: #fff;
      border: 1px solid gray;
      border-radius: 8px;
    }
    &--style:hover {
      color: black;
      background-color: #fff;
      transition: all 0.3s;
    }
  }

  &-help {
    color: gray;
    margin-bottom: 0;
  }

  &-signUp {
    color: rgb(172, 172, 172);
  }

  &-description {
    color: gray;
    font-size: 0.7rem;
    background-color: none;
    background: none;
    border: none;
    color: #fff;
    padding-bottom: 5em;
  }
}
